cleanup = true
params {
    bjorn_folder    = "/kattegat/2023-05-01_release"
    ucsd_meta       = "" // leave empty for non ucsd
    out_dir         = ""

    bioproject      = "PRJNA612578"
    metadata        = "~/code/HCoV-19-Genomics/metadata.csv"
    aspera          = "~/alison_test/aspera_ncbi_upload/aspera/connect/bin/"
    ssh_key         = "~/alison_test/aspera/private.openssh"
    aspera_folder   = "submit/Production"
    bjorn_env       = "/home/al/anaconda3/envs/bjorn/"
}
workDir = "${params.out_dir}/work"

docker {
    enabled         = true
    runOptions      = '--user root -i'
}


profiles {
    test {
        cleanup = false
        docker {
            enabled         = true
            runOptions      = '--user root -i'
        }
        params{
            bjorn_folder    = "/kattegat/2023-05-01_release"
            ucsd_meta       = "" // leave empty for non ucsd
            bioproject      = "PRJNA612578"
            metadata        = "~/code/HCoV-19-Genomics/metadata.csv"
            out_dir         = "~/alison_test/post_inspection_pipeline"
            aspera          = "~/alison_test/aspera_ncbi_upload/aspera/connect/bin/"
            ssh_key         = "~/alison_test/aspera/private.openssh"
            aspera_folder   = "submit/Test"
            bjorn_env       = "/home/al/anaconda3/envs/bjorn/"
        }
        workDir = "${params.out_dir}/work"

    }
}