cleanup = true
conda.enabled = true
params {
    bjorn_folder        = ""
    ucsd_meta           = "" // leave empty for non ucsd
    out_dir             = ""

    // ncbi options
    bioproject          = ""
    metadata            = ""
    aspera              = ""
    ssh_key             = ""
    aspera_folder       = ""
    // sra options
    instrument_model    = ""
    first_name          = ""
    last_name           = ""
    email               = ""
    organization        = ""
    spuid_namespace     = ""
    title               = ""
    organism            = ""
    organism_package    = ""
    library_layout      = ""

    bjorn_env           = ""
}
workDir = "${params.out_dir}/work"

docker {
    enabled         = true
    runOptions      = '--user root --entrypoint=""'
}